<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search someone you want to follow!</title>
    <link rel="stylesheet" href="ejs.css">
</head>
<body>
  <div class="header">
    <header><h2 style="background-color: rgb(250, 252, 254);">You can follow someone who interaction each other.</h2>
      <form action="/home" method="GET">
        <button id="gohome">홈 화면으로</button>
      </form>
      <form action="/searchFollower" method="POST">
        <input type="text" name= "findName" placeholder="이름을 검색하세요">
        <button type="submit" style="background-color: rgb(255, 250, 105); color:black;">검색</button>
      </form>
    </header>
  </div>

    <div class="follower-list">
    <% if (data && data.length > 0) { %>
      <% data.forEach(follow => { %>
        <div class="follower-item">
            <div id="name"><h4><%= follow.name %></h4></div>
            
            <h4><%= follow.instaId %></h4>
            <img src="<%= follow.image && follow.image.trim() !== '' ? follow.image : '/uploads/default.jpg' %>" width="200" />

            <form action="/clickFollow" method="GET">
              <input type="hidden" name="targetName" value="<%= follow.name %>">
              <input type="hidden" name="targetInstaId" value="<%= follow.instaId %>">
              <input type="hidden" name="targetImage" value="<%= follow.image %>">
              <button type="submit">팔로우</button>
            </form>
            <form action="/viewPosts" method="GET">
              <input type="hidden" name="name" value="<%= follow.name %>">
              <input type="hidden" name="instaId" value="<%= follow.instaId %>">
              <input type="hidden" name="image" value="<%= follow.image %>">
              <button type="submit" id="viewPosts">프로필</button>
            </form>


        </div>
      <% }) %>
    <% } else { %>
      <p>팔로우할 사용자가 없습니다.</p>
    <% } %>
    </div>
</body>
</html>
