<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>홈</title>
  <link href="home.css" rel="stylesheet">
</head>
<body>
<div class="information">
  <h2><%= name %>님, 환영합니다!</h2><img id="logo" src="/uploads/instalogo.png" width="50px" height="50px">
  <form action="/logout" method="POST">
    <button id="logout">로그아웃</button>
  </form>
<div class="images">
  <img src="insta1.jpg" width="150px" height="150px">
  <img src="insta2.jpg" width="150px" height="150px">
  <img src="insta3.jpg" width="150px" height="150px">
  <img src="insta4.jpg" width="150px" height="150px">
  <img src="insta5.jpg" width="150px" height="150px">
  <img src="insta6.jpg" width="150px" height="150px">
</div>
  <h4>
    <strong>다른 사람의 소식을 보려면 Follow 하세요!!</strong>
  </h4>

  <div class="button-group">
  <form action="/follow" method="GET">
    <button type="submit">팔로우할 사람 탐색</button>
  </form>

  <form action="/post" method="GET">
    <button type="submit">게시물 업로드</button>
  </form>

  <form action="/story" method="GET">
    <button type="submit">메모 추가</button>
  </form>

  <form action="/mine" method="GET">
    <button type="submit">내 정보 보기</button>
  </form>
  </div>
  
  <div class="story-section">
    <% if (stories && stories.length > 0) { %>
      <div class="story-wrapper">
        <% stories.forEach(story => { %>
          <div class="story-card">
            <img class="profile-img" src="<%= story.profileImage %>" alt="프로필 이미지" width="60">
            <p>@<%= story.instaId %>: <%= story.content %></p>
            <p>in <%= story.location %></p>
            <% if (story.image) { %>
              <img src="<%= story.image %>" width="180">
            <% } %>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p>스토리가 없습니다.</p>
    <% } %>
  </div>



<hr>

<% posts.forEach(post => { %>
  <div class="post-container">
    <div class="post-header">
      <img class="profile-img" src="<%= post.profileImage %>" alt="프로필 사진">
      <div class="user-info">
        <%= post.name %> (<%= post.instaId %>)
      </div>
      <div class="post-date">
        <%= post.dateFormatted %>
      </div>
    </div>

    <% if (post.image) { %>
      <img class="post-image" src="<%= post.image %>" alt="게시물 이미지">
    <% } %>

    <div class="post-caption">
      <p><strong><%= post.title %></strong></p>
      <p><%= post.content %></p>
    </div>
  </div>
<% }) %>



</div>

</body>
</html>
