<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/ejs.css">
</head>
<body>
    <div class="post-container">
    <div class="post-header">
        <img src="<%= image %>" alt="프로필 사진">
        <div class="user-info">
        <%= name %> (<%= instaId %>)
        </div>
        <div class="post-date"><%= new Date(date).toLocaleString('ko-KR') %></div>
    </div>

    <% posts.forEach(post => { %>
        <% if (post.image) { %>
        <img class="post-image" src="<%= post.image %>" alt="게시물 이미지">
        <% } %>
        <div class="post-caption">
        <p><strong><%= post.title %></strong></p>
        <p><%= post.content %></p>
        </div>
    <% }) %>
    </div>

</body>
</html>